{
    "folder": "M:/work/geo/storage",
    "pg": {
        "host": "192.168.3.160",
        "port": 5434,
        "database": "mbk_rivne_dma",
        "user": "postgres",
        "password": "postgres"
    },
    "redis": {
        "host": "192.168.3.160",
        "port": 6379,
        "family": 4
    },
    "prefix": "/api",
    "signServerAddress": "192.168.3.160:4001",
    "mapServerAddress": "192.168.3.160:4002",
    "convertServerAddress": "192.168.3.160:4003",
    "gdalServerAddress": "192.168.3.160:4005"
}